@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-out;
}

html, body {
    height: 90%;
    overflow: hidden;

    background-color: lightblue;
}

.all {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

input {
    width: auto;
    padding: 0.5rem;
    font-size: 1rem;
}

.container {
    height: auto;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem 4rem;
    gap: 10px;
    background-color: white;
}

.sub-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.button {
    padding: 0.5em 0.5em;
    margin-top: 10px;
    text-decoration: none;
    border-width: 0;
    border-radius: 0.5em;
    cursor: pointer;

    background-color: lightblue;
    color: steelblue;
    font-size: 1.2rem;
}

.main-button {
    background-color: #87CEFA;
    color: white;
}

.button:hover {
    transform: scale(1.1);
}


.app-name {
    color: white;
    font-size: 3em;
    text-shadow: 0.2em 0.2em #558abb;
    margin-bottom: 0.5em;
}