@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-out;
}

.anti-scroll {
    overflow: hidden;
}

.app-name {
    color: white;
    font-size: 40px;
    text-shadow: 10px 10px #558abb;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 100px 0px 100px;
}

.content {
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 10px 0px 0px 0px;
}

.button {
    margin: 20px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px #558abb;
}

.job-list {
    width: 400px;
    height: 500px;
    background-color: lightblue;
    border-radius: 25px;
}

.job-posts {
    width: 400px;
    height: 450px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.job-posts::-webkit-scrollbar {
    display: none; /* hides the scroll bar */
}

.job-post {
    color: white;
    font-size: 20px;
    width: fit-content;
    list-style: none;
    margin: 10px 0px 0px 0px;
}

.job-button {
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border-width: 0px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 3px 3px 0px rgb(0,0,0,.5);
    transform: scale(1);
}

.job-button:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

.job-spec {
    width: 400px;
    height: 500px;
    background-color: lightblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
}

.job-detail {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.job-detail-text {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.content.invisible {
    background-color: transparent;
}

.content.cover-letter {
    height: 50px;
}

.main-box.sub-box {
    margin-top: 0px;
    align-items: start;
}

.button.cover-letter-button {
    padding: 5px 50px 5px 50px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 5px 5px;
    transform: scale(1);
    transition: all 0.1s ease-out;
}

.button.cover-letter-button:hover {
    padding: 5px 15px 5px 15px;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}


.modal {
  background-color: rgba(0, 0, 0, 0.8); /* dark transparent background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.modal.open {
  opacity: 1;
  z-index: 1000;
}

.modal-inner {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
