{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    <link rel="stylesheet" href="{% static 'authentication-style.css' %}">
</head>
<body>
    <div class="all">
        <h1 class="app-name"> Password Reset </h1>
        {% for error in form.identifier.errors %}
        <p style="color:red; margin-top: 0;"> {{ error }} </p>
        {% endfor %}
        <form method="POST" class="container">
            {% csrf_token %}
            <div class="sub-container">
                {{ form.identifier.label_tag }}
                {{ form.identifier }}
            </div>
            <button type="submit" class="button main-button">Reset Password</button>
        </form>
    </div>
</body>
</html>
