{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Signup </title>
    <link rel="stylesheet" href="{% static 'authentication-style.css' %}">
</head>
<body>
    <div class="all">
        <h1 class="app-name"> Job Hunter </h1>
        {% if messages %}
            {% for message in messages %}
            <p style="color:red;"> {{ message }} </p>
            {% endfor %}
        {% endif %}
        <form action="" method="POST" class="container">
            {% csrf_token %}
            <div class="sub-container">
                <label class="test"> Username </label>
                <input type="text" name="username" required>
            </div>
            <div class="sub-container">
                <label> Password </label>
                <input type="password" name="password" required>
            </div>
            <div class="sub-container">
                <label> Confirm password </label>
                <input type="password" name="password2" required>
            </div>
            <div style="display: flex; flex-direction: column;">                
                <button type="submit" value="Submit" class="button main-button"> Signup </button>
                <a href="/users/login-user" class="button"> Login instead </a>
            </div>
        </form>
    </div>
</body>
</html>
