{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Job Hunter </title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
</head>
<body class="anti-scroll">
    <div class="all">
        <div class="container">
            <div class="sub-container">
                <div class="title">
                    <h1 class="app-name"> Job Hunter </h1>
                    <p class="app-desc"> What jobs are you craving for? </p>
                </div>
                <form action="search/" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="input">
                        <label for="query"> Search query: </label><br>
                        <input type="text" id="query" name="query"><br>
                    </div>
                    <div class="input">
                        <label for="city"> City: </label><br>
                        <input type="text" id="city" name="city"><br>
                    </div>
                    <div class="input">
                        <label for="country"> Country: </label><br>
                        <input type="text" id="country" name="country"><br>
                    </div>
                    <div class="input">
                        <label for="hours_old"> Posts since _ hours ago: </label><br>
                        <input type="text" id="hours_old" name="hours_old"><br>
                    </div>
                        <button class="search-button" type="submit"> Search </button>
                </form>
            </div>
            <div class="sub-container bottom" id="statistics-container">
                <div class="statistics-button">
                    <form id="statistics-input" action="/home/show-statistics/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="statistics" id="statistics" />
                        <button class="button" type="submit"> Show statistics </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="sub-container list">
                <div class="job-list">
                    <ul class="job-posts">
                        {% for job in job_posts %}
                        <li class="job-post">
                            <button type="submit" class="job-button" onclick="jsEnableElement('resume-button');"
                                    data-title="{{ job.title }}"
                                    data-company="{{ job.company }}"
                                    data-date_posted="{{ job.date_posted }}"
                                    data-description="{{ job.description }}"
                                    data-link="{{ job.link }}">
                                {{ job.title }}
                            </button>
                            <button type="button" class="delete-button" data-job-id="{{ job.id }}"> x </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="sub-container bottom split">
                <div class="dropdown-4">
                    <button onclick="dropdown()" class="dropdown-button"> Sort by: </button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a href="#" onclick="updateQuery('sort', 'date_posted')"> Date posted </a>
                        <a href="#" onclick="updateQuery('sort', 'location')"> Location </a>
                        <a href="#" onclick="updateQuery('sort', 'title')"> Title </a>
                        <a href="#" onclick="updateQuery('sort', 'company')"> Company name </a>
                    </div>
                </div>
                <div class="dropdown-2">
                    <button onclick="dropdown2()" class="dropdown-button"> Sort by: </button>
                    <div id="dropdown-content2" class="dropdown-content">
                        <a href="#" onclick="updateQuery('direction', 'ASC')"> Ascending </a>
                        <a href="#" onclick="updateQuery('direction', 'DESC')"> Descending </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="sub-container">
                <div class="job-spec">
                    <div id="job-detail" class="job-detail">
                        <div class="resume" id="resume">
                            <textarea id="resume-input" class="resume-input" type="text" name="resume" placeholder="Copy and paste content of your resume here..."></textarea>
                        </div>
                        <div id="job-detail-text" class="job-detail-text">
                            <h1 id="detail-title"></h1>
                            <h2 id="detail-company"></h2>
                            <h3 id="detail-date_posted"></h3>
                            <a id="detail-link" href="#"></a>
                            <p id="detail-description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-container bottom">
                <div class="cover-letter-container">
                    <button id="resume-button" class="button disabled" onclick="popUpResume()" type="submit"> Upload resume for cover letter </button>
                    <form  id="cover-letter-input" action="/home/write-cover-letter/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="resume-hidden" id="resume-hidden">
                        <input type="hidden" name="job-description-hidden" id="job-description-hidden" />
                        <button id="cover-letter-button" class="button" type="submit"> Generate cover letter </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>

<footer>
    <p> Created by: 
        <a style="color: cornflowerblue; text-decoration: none; font-weight: 500;"> Huu An Duc (Jack) Le </a>
    </p>
    <p> Contact me at: 
        <a href="mailto:huuanducle@gmail.com" style="color: cornflowerblue; text-decoration: none; font-weight: 500;">huuanducle@gmail.com</a>
    </p>
</footer>

</html>
